@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

$emphFont: "Abril Fatface", cursive;
$mainFont: "Karla", sans-serif;

$mainBackground: #ffedef;
$cardBackground: #ffffff;
$emphDark: #74121d;
$emphMid: #a51c30;
$emphBang: #c52233;
